body{
  padding-top:30px;
}
header{
  position: relative;
  width: 100%;
  background-color: grey;
}
nav{
  padding-left:150px;

}
.pic1{
  paddin-left:0;
}
nav ul{
width: 100%;
top: 0;
display: inline;

}
nav li{
  display: inline;
  padding:30px;
  max-width: 960px;
}
main{
  max-width: 960px;
  padding-left:150px;
  padding-top:30px;
}
.pic2{
  padding-left:0px;
}
main ul{
  padding-top:30px;
  width: 100%;

}
main ul li{
  display: inline;
  padding-left: 20px;
  max-width: 965px;

}
.fitdamnit li:lastchild{
display:inline;

}
section{
  max-width: 960px;
  padding-top:30px;
}
section img {
  float:left;
  width:50%;
}
article{
  float:right;
  max-width: 50%
}
